{$DOMAIN:localhost} {
    redir {$OMCPA_BASE_PATH:/omc} {$OMCPA_BASE_PATH:/omc}/ 308

    handle {$OMCPA_BASE_PATH:/omc}/* {
        reverse_proxy oh-my-cpa:8080
    }

    handle {
        reverse_proxy cpa:8317
    }
}
